// Font Variables
$pathfonts: "/public/fonts/";

$open-sans: 'Open Sans', sans-serif;
$open-light: 'Open Sans Light',
sans-serif;
$open-semiBold: 'Open Sans SemiBold',
sans-serif;

$icoomon: 'icomoon';